*.pyc
*.class
*.cache

.DS_Store
.metadata/
.idea/
.gradle/
.classpath
.project
default.properties

bin/
gen/
out/
build/

android/android.iml
android/gen/com/getbro/bro/Manifest.java
android/local.properties
