<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbro.bro"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:name=".Webservice.HttpGetRequest"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarTheme" >
        <activity
            android:name="com.getbro.bro.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.getbro.bro.InputActivity"
            android:label="@string/title_activity_input" >
        </activity>
        <activity
            android:name="com.getbro.bro.ShowFriendActivity"
            android:label="@string/title_activity_show_friend" >
        </activity>
        <activity
            android:name="com.getbro.bro.FriendlistActivity"
            android:label="@string/title_activity_friendlist" >
        </activity>
        <activity
            android:name="com.getbro.bro.DisplayEventsActivity"
            android:label="@string/title_activity_display_events" >
        </activity>
        <activity android:name="com.getbro.bro.NewEventActivity" />
        <activity
            android:name="com.getbro.bro.ProfilActivity"
            android:label="@string/title_activity_profil" >
        </activity>
    </application>

</manifest>
